@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: beige;
}
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
    .center{
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2%;
        flex-wrap: wrap;
    }
    .about-header{
        width: 100%;
        background-color: rgb(103, 103, 255);
    }
    .about-header p{
        color:wheat;
        padding: 20px;
    }
    header h2 span{
        color: rgb(103, 103, 255);
    }
    header h2#Poder span{
        color:orangered;
    }
    header h2{
        font-size: 35px;
        color: #222;
    }
    header h2#Poder{
        font-size: 20px;
        color:orange;
    }
    header h2#policia{
        font-size: 20px;
        color:white;
    }
    footer{
        background-color: rgb(103, 103, 255);
        padding: 50px 0;
    }
    .conteiner-footer{
        max-width: 1400px;
        padding: o 4%;
        margin: auto;
    }
    .row-footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 22px;
        color: white;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }
    .footer-col ul{
        list-style: none;
    }
    .footer-col ul li{
        margin: 10px 0;
    }
    .footer-col ul li a{
        font: size 16px;
        text-transform: capitalize;
        color: white;
        text-decoration:none;
        font-weight: 300;
        display: block;
        transition: all 0,3s ease;
    }
    .footer-col ul li a:hover{
        color: #222;
        padding-left: 10px;
    }
    .footer-col .midias-sociais{
        margin: top 30px;;
    }
    .footer-col .midias-sociais a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin: 0 10px 10px 0;
        text-decoration: none;
        border-radius: 50%;
        color: white;
        border: 1px solid white;
        transition: all 0.5s ease;
    }
    .footer-col.midias-sociais a:hover{
        color: #222;
        background-color: white;
    }
    .footer-col .form-sub input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        outline: none;
        border: 1px solid white;
        color: white;
        background-color:rgb(103, 103, 255);
    }
    .footer-col .form-sub input::placeholder{
        color:white;
    }
    .footer-col .form-sub button{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 17px;
        outline: none;
        border: none;
        cursor: pointer;
        color:rgb(103, 103, 255);
        border-radius: 3px;
        font-weight: bold;
        background-color: white;
    }
    /*Responsivo*/
    @media (max-width:800px) {
       .footer-col,img,p{
        width: 50%;
        margin-bottom: 30px;
       }
    }
    @media (max-width:600px) {
        .footer-col,img,p{
            width: 100%;
        }     
    }
    p#vida{
        color: rgb(250, 61, 61);
        font-size: 12px;
    }
    p#anuncio{
        color: #222;
        font-size: 12px;
    }
    .logo{
        margin-top: 18px;
    }
    .wraper-header{
        padding: 40px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .banner-ads{
        width:60%;
        height:150px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }
    .banner-ads h2{
        position: absolute;
        left:10px;
        top:10px;
        color:rgb(0, 0, 0);
        font-size:15px;
        font-style:italic;
    }

    .menu-main{
        width:100%;
        background-color:rgb(103, 103, 255);
        padding: 12px;
    }
    .menu-main a{
        display: inline-block;
        margin: 0 10px;
        color: white;
        text-decoration: none;
    }
    .menu-main a:hover{
        text-decoration: underline;
    }
    .noticias-wraper-1{
        display: flex;
        width: 100%;
    }
    .noticia-destaque{
        cursor: pointer;
        width: 60%;
        padding-top: 20%;
        background-color: #222;
        border: 2px solid white;
        position: relative;
    }
    .noticia-destaque-single{
        cursor: pointer;
        left:0;
        top:0;
        position: absolute;
        width:100%;
        height:100%;
        background-size:cover;
        background-position:center;    
    }

    .noticia-destaque-single h3{
        display: flex;
        padding: 10px;
        color: white;
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,0,0.6);
    }
    .outras-noticias-1{
        cursor: pointer;
        display: flex;
        width: 50%;
        flex-wrap: wrap;
    }
    .outras-noticias-1-single{
        cursor: pointer;
        width: 50%;
        padding-top:30%;
        background-size: cover;
        background-position: center;
        border: 2px solid white;
        background-color: #222;
        position: relative;
    }
    a:valid{
        color:blue;
    }
    a:hover{
        color: white;
    }
    .outras-noticias-1-single h3{
        padding: 10px;
        color: white;
        width: 100%;
        height: 50px;
        background-color:rgba(0,0,0,0.6);
    }
    p#anuncio{
        color: #222;
        font-size: 12px;
    }
    form#p{
        font-family: 'Times New Roman', Times, serif;
        color: #000;
    }
    form{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2%;
        flex-wrap: wrap;
        }
    H1#Form{
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2%;
        flex-wrap: wrap;
    }
   h3#outras-1{
       font-size: 17px;
   }
   section{
    max: width 80%;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
   }
   section#Exame{
    max-width:80%;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
    background-color:rgb(199, 199, 255);
   }
   section,a{
    font-size: 14px;
   }
   a:hover#redefinir{
    color: #222;
   }
   h1#Visão{
       font-size: 25pt
   }
   h3#exame{
       color: rgb(56, 56, 56)
   }
   